//Variables

$headerBackgroundColor: #000000;

//mixins

@mixin marginBottom($pixels) {
	margin-bottom: $pixels;
}

@mixin marginTop($pixels) {
	margin-top: $pixels;
}

@mixin black($direction) {
	width: 50%;
	height: 100%;
	background-color: black;
	color: white;
	float: $direction;
}

@mixin white($direction) {
	width: 50%;
	height: 100%;
	background-color: white;
	color: black;
	float: $direction;
}

@mixin center {
	display: block;
	text-align: center;
	@include marginTop(50%);
}

//Classes

.marginBottom {
	@include marginBottom(10px);
}

.marginTop {
	@include marginTop(10px);
}

* {
	margin: 0;
	padding: 0; 
}

html, body {
	width: 100%;
	height: 100%;
}


.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.black {
	@include black(left);
}

.white {
	@include white(right);
}

.white--left {
	@include white(left);
}

.black--right {
	@include black(right);
}

h2 {
	font-size: 34px;
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	text-align: center;
}

i {
	padding-left: 10px;
}

.fa-envelope-o, .fa-github, .fa-linkedin-square {
	color: black;
}

.center {
	@include center();
}

.quote {
	font-style: italic;
	text-align: center;
	@include marginTop(20px);
}

a {
	text-decoration: none;
	color: black;
	font-size: 24px;
	padding: 20px;
}

p {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	@include marginTop(20px);
}

@media all and (max-width: 768px) {
	.black, .white, .black--right, .white--left {
		width: 100%;
	}

	.center {
		@include marginTop(7em);
	}

	.fa-envelope-o, .fa-github, .fa-linkedin-square {
		display: block;
	}
}

